* {
  margin: 0;
  padding: 0;
  border: 1px solid black;
}
body {
  width: 100%;
}
/* 헤더 푸터 높이 조정 */
header {
  height: 50px;
  background-color: #ef5350;
}
footer {
  height: 80px;
  border-top: 1px solid #ef5350;
}

/* 메인에 놓을 베너 css */
#banner {
  height: 300px;
  background-color: #2f2f2f;
}

/* 검색창 css */
.search {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  height: 30px;
}
button {
  height: 30px;
}

#main {
  width: 70%;
  margin-left: 15%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#main div {
  width: 200px;
  height: 200px;
  margin: 20px;
}
